// Applies basic styling for HTML elements such as lists (whose basic HTML styles have been stripped). 
// Ideal for formatting the HTML from a rich text field. (It's not complete, it should be extended as needed)
.html-content{
    a{
        color:#0067c5;
        text-decoration: underline;

        &:visited {
            color: #003591;
          }                
        &:hover {
            color: #99d9f0;
          }
    }

    ul{
        padding-left: 20px;
        list-style-type: disc;
    }
}