
@font-face {
    font-family: "Avenir Next";
    src: url("https://veracitycdn.azureedge.net/fonts/avenir-regular-lat-ext.eot") format("eot"), 
        url("https://veracitycdn.azureedge.net/fonts/avenir-regular-lat-ext.woff") format("woff"), 
        url("https://veracitycdn.azureedge.net/fonts/avenir-regular-lat-ext.ttf") format("truetype"),
        url("https://veracitycdn.azureedge.net/fonts/avenir-regular-lat-ext.svg") format("svg");
    font-weight: 400;
    font-display: auto;
}
@font-face {
    font-family: "Avenir Next";
    src: 
    url("https://veracitycdn.azureedge.net/fonts/avenir-medium-lat-ext.eot") format("eot"),
    url("https://veracitycdn.azureedge.net/fonts/avenir-medium-lat-ext.woff") format("woff"),
    url("https://veracitycdn.azureedge.net/fonts/avenir-medium-lat-ext.ttf") format("truetype"),
    url("https://veracitycdn.azureedge.net/fonts/avenir-medium-lat-ext.svg") format("svg");
    font-weight: 500;
    font-display: auto;
}
@font-face {
    font-family: "Avenir Next";
    src:
    url("https://veracitycdn.azureedge.net/fonts/avenir-demi-lat-ext.eot") format("eot"),
    url("https://veracitycdn.azureedge.net/fonts/avenir-demi-lat-ext.woff") format("woff"),
    url("https://veracitycdn.azureedge.net/fonts/avenir-demi-lat-ext.ttf") format("truetype"),
    url("https://veracitycdn.azureedge.net/fonts/avenir-demi-lat-ext.svg") format("svg");
    font-weight: 600;
    font-display: auto;
}
@font-face {
font-family: "Avenir Next";
src:
    url("https://veracitycdn.azureedge.net/fonts/avenir-bold-lat-ext.eot") format("eot"),
    url("https://veracitycdn.azureedge.net/fonts/avenir-bold-lat-ext.woff") format("woff"),
    url("https://veracitycdn.azureedge.net/fonts/avenir-bold-lat-ext.ttf") format("truetype"),
    url("https://veracitycdn.azureedge.net/fonts/avenir-bold-lat-ext.svg") format("svg");
font-weight: 700;
font-display: auto;
}
@font-face {
    font-display: auto;
font-family: "Broader View";
src: 
    url("https://veracitycdn.azureedge.net/fonts/broaderview-medium-webfont.eot?#iefix") format("eot"),
    url("https://veracitycdn.azureedge.net/fonts/broaderview-medium-webfont.woff") format("woff"),
    url("https://veracitycdn.azureedge.net/fonts/broaderview-medium-webfont.ttf") format("truetype"),
    url("https://veracitycdn.azureedge.net/fonts/broaderview-medium-webfont.svg") format("svg");
}
