@import '~styles/colors.scss';
:local{
    .eye-input-wrapper{
      border:none;
      border-bottom:1px solid color(dark-blue);
      display: flex;
      align-items: center;
      input{
         width: calc(100% - 30px);
         border:none;
         outline: none;
      }
      span{
        display: inline-block;
        height: 30px;
        svg{
          width:30px;
          color:color(cyan);
        }
      }
    }
}