:local{
    .table{
        :global{
            .tHeader{
                background-color:#f2f2f2;
            }
            .tItems{
                padding:20px 0;
                p{
                    margin:0;
                    font-size:12px;
                }
                .closeBtn{
                    display: inline-block;
                    transform: rotate(45deg);
                    font-size: 18px;
                }
            }
        }
        img{
            width:100%;
            height: 20px;
        }
    }

    .checkout{
        font-size: 24px;
        text-align: right;
        padding-top:40px;
        p{
            font-size: 14px;
        }
       
    }
}