
@import '~styles/variables.scss';
@import '~styles/mixins.scss';
:local{
    .wrapper{
        background-color:#f5f9fa;
        padding:16px;
        display: grid;
        grid-template-rows: 50px 100px;
        word-break: break-all;
    } 
    .content-wrapper{
        overflow-y: scroll;
        margin-right: -17px;
    }
    .header{
        //  background-color:#ccc;
         display: grid;
         grid-template-columns: 10% 20% 20% 30% 20%; 
         &>span{
             border:1px solid red;
         }
    }
    .content{
        display: grid;
         grid-template-columns: 10% 20% 20% 30% 20%; 
        &>span{
            border:1px solid green;
        }
    }
}