
@import '~styles/variables.scss';
@import '~styles/mixins.scss';
:local{
    .responsive-table{
        width:100%;
        thead{
            tr{
                th{
                    border:1px solid red;
                    background-color:green;
                    position:sticky;
                    top:0px;
                }
            }
        }
    } 
}