@import './normalize.css';


:global{
    main{
        margin:0 auto;
        max-width:1200px;
        padding:50px;
        &>h2{
            color:purple;
        }
    }
    .page-title{
        text-align: center;
        font-size:30px;
    }
    h2{
        font-size:26px;
       
    }
}