:local {
  @mixin input-border($border-color, $border-color-focus) {
    border: 1px solid $border-color;

    &:focus {
      border-color: $border-color-focus;
      box-shadow: 0px 0px 0px 1px $border-color-focus;
    } 
  }

  .SelectInput {
    display: block;
    width: 100%;
    font-family: 'Avenir Next';
    font-size: 16px;
    height: 40px;    // without a fixed height, Chrome on MacOS breaks
    padding: 0 11px;
    margin-bottom: 8px;
    border-radius: 5px;
    outline: none;

    &[data-nospacing]{
      margin: 0;
    }

    @include input-border(#BAD6E6, #0067C5);
    &[data-state="invalid"]{ @include input-border(#B53C40, #B53C40); }
    &[data-state="validated"]{ @include input-border(#36842D, #36842D); }

    &:disabled{
      background-color: #F6F6F6;
      border: 1px solid #646464;
    }

    .disabled{
      color:#929292;
    }
  }
  
}