$cdn_url:"https://veracitycdn.azureedge.net/";
$grid_xs: 0;
$grid_sm: 576px;
$grid_md: 768px;
$grid_lg: 992px;
$grid_xl: 1200px;

$screen_xl:1024px;
$screen_lg:992px;
$screen_md_l:828px;
$screen_md: 768px;
$screen_sm: 576px;
