:local{
  .radioButtonGroup {

    display: flex;
    flex-direction: column;
    &[data-layout="horizontal"] { flex-direction: row; }

    .radioButton {

      box-sizing: border-box;
      font-family: 'Avenir Next';
      font-size: 16px;
  
      position: relative;
      margin-right: 24px;
  
      label {
        display: block;
        padding-top: 2px;
        padding-left: 28px;
        padding-bottom: 16px;
        box-sizing: border-box;
        border-bottom: 2px solid transparent;
  
        &[data-size="large"] { 
          padding-top: 8px;
          padding-left: 38px;
          &::before{
            width: 30px;
            height: 30px;
          }
          &::after{
            left: 9px;
            top: 11px;
            border: 7px solid;
          }
        }
      }
  
      input {
        position: absolute;
        top: 0;
        left: 0;
        width: 0px;
        height: 0px;
        opacity: 0;
      }
  
      label::before {
        content: "";
        position: absolute;
        left: 0;
        top: 2px;
        width: 20px;
        height: 20px;
        border: 1px solid #002A3E;
        border-radius: 50%;
      }
  
      label::after {
        content: "";
        position: absolute;
        left: 4.5px;
        top: 6.5px;
        border: 6px solid #002A3E;
        background-color: #002A3E;
        border-radius: 50%;
        opacity: 0;
      }
    
      input:focus + label::before {
        box-shadow: 0px 0px 0px 3px #BAD6E6; 
      }
  
      &[data-checked="true"] {
        label::after {
          opacity: 1;
        }
      }

      &[data-disabled="true"] {
        color: #B3B3B3;
        label::before {
          border-color: #B3B3B3;
        }
      }
    }
  }
}