
:local{
  .gutter{
    padding:0 28px;
    a:hover{
      text-decoration:none;
    }

  }
  .list{
    border:1px solid #666666;
    height: 250px;
    overflow: hidden;
    position: relative;
    .icon{
      position: absolute;
      bottom:15px;
      right:15px;
      width:80px;
    }

    .listLeft{
      background-color:#0f204b;
    }
    img{
      width:100%;
    }
    .des{
      
      color:white;
      text-align: center;
      padding:40px 0 10px 0;
      border-top:2px solid white;
    }
    .detail{
      color:black;
      max-height:108px;
      overflow: hidden;
    
    }
  }
  
}