doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css') 
    link(rel='stylesheet', href='/stylesheets/reset.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/supersized.css')
  body

    div.page-container
      h1 Login
      form(method="post")
        input(type="text",name="userid",placeholder="username")
        input(type="password",name="password",placeholder="password")
        button.sign-in Sign In
      div.connect
        p Or connect with:
          p
            a.facebook
            a.twitter
    script(type='text/javascript', src='/javascripts/jquery-1.8.2.min.js')
    script(type='text/javascript', src='/javascripts/supersized.3.2.7.min.js')
    script(type='text/javascript', src='/javascripts/supersized-init.js')
    script(type='text/javascript', src='/javascripts/scripts.js')
    script(type='text/javascript', src='/javascripts/commonTools.js')
      