extends ../layout

block content
  div.module.message
    div.module-head
      h3 Task Management Tool
    div.module-option.clearfix
      div.pull-left
        div.btn-group
          button.btn Filter:
          button(data-toggle="dropdown").btn.dropdown-toggle
            span.caret
          ul.dropdown-menu
            li
              a(href="#") All
            li
              a(href="#") In progress
            li
              a(href="#") Done
            li.divider
            li
              a(href="#") New tasks
            li
              a(href="#") Overdue tasks
      div.pull-right
        a.btn.btn-primary Compose
    div.module-body.table
      table.table.table-message
        tbody
          tr.heading
            td.cell-icon
            td.cell-title
            td.cell-author.hidden-phone.hidden-tablet Status
            td.cell-time.align-right Due Date
          tr.task
            td.cell-icon
              i.icon-checker.high
            td.cell-icon
              div Lorem ipsum dolor sit et, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            td.cell-status.hidden-phone.hidden-tablet
              b.due Missed
            td.cell-time.align-right Just Now
          tr.task.resolved
            td.cell-icon
              i.icon-checker.high
            td.cell-icon
              div Lorem ipsum dolor sit et, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            td.cell-status.hidden-phone.hidden-tablet
              b.due Missed
            td.cell-time.align-right Just Now
